My workflow.json
{"name": "My workflow", "nodes": [{"parameters": {"jsCode": "const now = new Date();\nconst daysBack = 2;\nconst cutoff = now.getTime() - (daysBack * 24 * 60 * 60 * 1000);\n\nconsole.log(`\ud83d\udcc5 Filtering stories from last ${daysBack} days`);\nconsole.log(`\ud83d\udd0d Total input items: ${$input.all().length}`);\n\nconst allStories = $input.all().map(item => {\n  const j = item.json;\n  const link = j.link || j.url || '';\n  let host = 'unknown';\n  try { host = link ? new URL(link).hostname : 'unknown'; } catch(e) {}\n\n  let publishedDate;\n  try { publishedDate = new Date(j.isoDate || j.pubDate || j.date || new Date()).toISOString(); }\n  catch(e) { publishedDate = new Date().toISOString(); }\n\n  return {\n    source: j.source || j.feed || host,\n    title: j.title || 'No title',\n    link: link,\n    published: publishedDate,\n    snippet: j.contentSnippet || j.description || j.summary || 'No description',\n    categories: j.categories || [],\n    ageInDays: Math.floor((now.getTime() - new Date(publishedDate).getTime()) / 86400000)\n  };\n});\n\n// Step 1: Date filter (last 2 days)\nconst recentStories = allStories.filter(s => {\n  try { return new Date(s.published).getTime() >= cutoff; } catch(e) { return true; }\n});\nconsole.log(`\ud83d\udcc5 Date filter: ${allStories.length} \u2192 ${recentStories.length}`);\n\n// Step 2: Within-batch URL dedup (same story from multiple RSS feeds)\nconst seenUrls = new Set();\nconst seenTitles = new Set();\nconst dedupedStories = [];\nlet urlDupes = 0, titleDupes = 0;\n\nfor (const story of recentStories) {\n  const url = story.link.toLowerCase().replace(/\\/$/,'').replace(/\\?.*$/,'');\n  if (url && seenUrls.has(url)) { urlDupes++; continue; }\n\n  const normTitle = story.title.toLowerCase().replace(/[^a-z0-9]/g, '').substring(0, 60);\n  if (normTitle.length > 20 && seenTitles.has(normTitle)) { titleDupes++; continue; }\n\n  if (url) seenUrls.add(url);\n  if (normTitle.length > 20) seenTitles.add(normTitle);\n  dedupedStories.push(story);\n}\nconsole.log(`\ud83d\udd17 URL dedup: removed ${urlDupes} exact URL duplicates`);\nconsole.log(`\ud83d\udcdd Title dedup: removed ${titleDupes} near-duplicate titles`);\n\n// Step 3: Language filter\nconst nonEnglishPatterns = [/[\\u0400-\\u04FF]/, /[\\u4E00-\\u9FFF]/, /[\\u3040-\\u309F\\u30A0-\\u30FF]/, /[\\uAC00-\\uD7AF]/, /[\\u0600-\\u06FF]/];\nconst isEnglish = (text) => !text || !nonEnglishPatterns.some(p => p.test(text));\n\nconst englishStories = dedupedStories.filter(s => isEnglish(s.title) && isEnglish(s.snippet));\nconst nonEngCount = dedupedStories.length - englishStories.length;\nif (nonEngCount > 0) console.log(`\ud83c\udf10 Language filter: removed ${nonEngCount} non-English`);\n\nconsole.log(`\\n\u2705 Final: ${englishStories.length} stories (from ${allStories.length} raw items)`);\nconsole.log(`   Savings: ${urlDupes} URL dupes + ${titleDupes} title dupes + ${nonEngCount} non-English + ${allStories.length - recentStories.length} old`);\n\nreturn [{ json: { stories: englishStories } }];"}, "id": "b8f5f7bc-6b31-426c-9a6b-892f73d63e2b", "name": "Prepare Stories", "type": "n8n-nodes-base.code", "position": [1888, -2016], "typeVersion": 2}, {"parameters": {"jsCode": "// Enhanced processing with better error handling\nlet content = $json?.message?.content ?? '';\nif (typeof content !== 'string') content = String(content || '');\n\n// Remove code fences if present\ncontent = content.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/,'');\n\n// Extract JSON from any surrounding text\nconst jsonStart = content.indexOf('{');\nconst jsonEnd = content.lastIndexOf('}');\n\nif (jsonStart !== -1 && jsonEnd !== -1 && jsonEnd > jsonStart) {\n  content = content.substring(jsonStart, jsonEnd + 1);\n}\n\nconsole.log('\ud83d\udd04 Processing AI response...');\nconsole.log('\ud83d\udccf Content length:', content.length);\nconsole.log('\ud83d\udc40 First 300 chars:', content.substring(0, 300));\nconsole.log('\ud83d\udd1a Last 300 chars:', content.substring(Math.max(0, content.length - 300)));\n\nlet finalData;\ntry {\n  finalData = JSON.parse(content);\n  console.log('\u2705 Successfully parsed JSON');\n  console.log('\ud83d\udcca Stories found:', finalData.stories?.length || 0);\n  console.log('\ud83d\udcc2 Categories:', finalData.categories?.length || 0);\n  \n  // Validate the response has the expected structure\n  // Ensure severity scores are valid (1-5)\n  if (finalData.stories) {\n    for (const story of finalData.stories) {\n      if (!story.severity || story.severity < 1 || story.severity > 5) story.severity = 3;\n    }\n  }\n  \n  if (!finalData.stories || !Array.isArray(finalData.stories)) {\n    throw new Error('Missing or invalid stories array');\n  }\n  if (!finalData.categories || !Array.isArray(finalData.categories)) {\n    throw new Error('Missing or invalid categories array');\n  }\n  \n  // Post-AI deduplication - remove duplicate URLs\n  const beforeDedup = finalData.stories.length;\n  const seenUrls = new Set();\n  const duplicates = [];\n  \n  finalData.stories = finalData.stories.filter((story, index) => {\n    const url = story.url || '';\n    if (!url) return true; // Keep stories without URLs\n    \n    if (seenUrls.has(url)) {\n      duplicates.push({ index: index + 1, url, headline: story.headline });\n      console.log(`\ud83d\udd04 Removed duplicate #${index + 1}: \"${story.headline?.substring(0, 50)}...\" (${url})`);\n      return false;\n    }\n    \n    seenUrls.add(url);\n    return true;\n  });\n  \n  if (duplicates.length > 0) {\n    console.log(`\ud83e\uddf9 Deduplication: ${beforeDedup} \u2192 ${finalData.stories.length} stories (removed ${duplicates.length} duplicates)`);\n    duplicates.forEach(dup => {\n      console.log(`  \u274c Duplicate story #${dup.index}: ${dup.headline?.substring(0, 60)}...`);\n    });\n  } else {\n    console.log(`\u2705 No duplicates found in AI response`);\n  }\n  \n  // Update total_stories count after deduplication\n  finalData.total_stories = finalData.stories.length;\n  \n} catch (error) {\n  console.error('\u274c JSON parse failed:', error.message);\n  console.log('\ud83d\udcc4 Content length:', content.length, 'chars');\n  console.log('\ud83d\udd0d Content ends with }?', content.trim().endsWith('}'));\n  console.log('\ud83d\udcdd Last 500 chars:', content.substring(Math.max(0, content.length - 500)));\n  \n  // Check if this is a truncation issue\n  const isTruncated = !content.trim().endsWith('}') || error.message.includes('Unexpected end');\n  \n  // Fallback structure\n  finalData = {\n    title: 'Daily Cybersecurity Brief - Parse Error',\n    total_stories: 1,\n    categories: ['Error'],\n    stories: [{\n      category: 'Error',\n      headline: 'AI Response Processing Failed',\n      summary: isTruncated \n        ? `Response was truncated (${content.length} chars). Increase maxTokens from 16000 to 20000+ or reduce categories.`\n        : `Invalid JSON: ${error.message}. The AI may have included explanatory text.`,\n      why_matters: isTruncated\n        ? 'Token limit reached before completing the response. Need to either increase token limit or simplify the prompt.'\n        : 'The AI prompt needs adjustment to ensure valid JSON-only output.',\n      companies: ['OpenAI'],\n      url: '#',\n      published_date: new Date().toISOString()\n    }],\n    metadata: {\n      source: 'Error Handler',\n      ai_model: 'GPT-4.1-MINI',\n      last_update: new Date().toISOString(),\n      workflow_version: '6.0',\n      error: error.message,\n      content_length: content.length,\n      truncated: isTruncated,\n      last_100_chars: content.substring(Math.max(0, content.length - 100))\n    }\n  };\n}\n\n// Ensure required fields with GMT timestamps\nfinalData.generated_at = new Date().toISOString();\nif (!finalData.stories) finalData.stories = [];\nif (!finalData.categories) finalData.categories = [];\nif (!finalData.metadata) finalData.metadata = {};\n\n// Send data directly to webhook\nconsole.log('\ud83c\udfa3 Preparing data for webhook');\nconsole.log('\ud83d\udcca Final summary:');\nconsole.log('  Title:', finalData.title);\nconsole.log('  Stories:', finalData.stories.length);\nconsole.log('  Categories:', finalData.categories.join(', '));\nconsole.log('  Generated:', finalData.generated_at);\nconsole.log('\ud83d\udd17 Will send to webhook: /webhook/tech-brief');\n\n// Add date for historical tracking\nconst currentDate = new Date().toISOString().split('T')[0];\nfinalData.date_key = currentDate;\nfinalData.singapore_date = new Date().toLocaleString('en-SG', {timeZone: 'Asia/Singapore', dateStyle: 'full'});\n\nconsole.log('\ud83d\udcc5 Date key for history:', currentDate);\nconsole.log('\ud83c\uddf8\ud83c\uddec Singapore date:', finalData.singapore_date);\n\nreturn [{ json: finalData }];"}, "id": "fb930b7e-9ba5-4738-af44-468036933d70", "name": "Process and Save", "type": "n8n-nodes-base.code", "position": [2464, -2016], "typeVersion": 2}, {"parameters": {"method": "POST", "url": "http://host.docker.internal:8080/webhook/tech-brief", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {"timeout": 15000}}, "id": "262b0c30-8a0d-4973-bfb7-afc4a1c9565f", "name": "Save to File Server", "type": "n8n-nodes-base.httpRequest", "position": [2688, -2016], "typeVersion": 4.2}, {"parameters": {"url": "https://techcrunch.com/category/security/feed/", "options": {}}, "id": "ba989cad-d85d-4b54-9aeb-7a5926ef02dc", "name": "Techcrunch", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1440], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"numberInputs": 26}, "id": "b3c389c8-11ff-4654-836e-d2815abb3f67", "name": "Merge", "type": "n8n-nodes-base.merge", "position": [992, -1984], "typeVersion": 3.2}, {"parameters": {"url": "https://hnrss.org/frontpage?points=150", "options": {"ignoreSSL": false}}, "id": "30badfca-737d-44b0-8ab2-62b1ef8a0feb", "name": "hnrss", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2016], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"maxItems": 400, "keep": "="}, "id": "f0667f5c-8550-48ce-906b-dece6e01a3af", "name": "Limit", "type": "n8n-nodes-base.limit", "position": [1664, -2016], "typeVersion": 1}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "GPT-4.1-MINI"}, "messages": {"values": [{"content": "Senior security editor for VP of Cybersecurity. Categorize stories into these categories (use exact names):\n\nZero-Day Exploits | Threat Intelligence & APTs | Breaches/Ransomware | Vulnerabilities | Incident Response & Forensics | Identity & Access Management | Supply Chain Security | Cloud/SaaS | Critical Infrastructure & OT/ICS | Mobile & IoT Security | Policy/Regulation | Data Privacy & Protection | Compliance & Audit | Security Operations & Tools | Startups/Funding | Research | AI/ML\n\nFor each story, provide:\n1. 1-2 sentence summary + brief \"why it matters\"\n2. Extract CVEs/vendors\n3. A severity score from 1-5:\n   - 5 = Critical (active exploitation, zero-day, major breach)\n   - 4 = High (significant vulnerability, large-scale attack)\n   - 3 = Medium (notable security event, new threat actor activity)\n   - 2 = Low (policy update, research finding, tool release)\n   - 1 = Informational (funding news, opinion, minor update)\n\nNo hype. Include 40-60 stories (aim for comprehensive coverage). Prioritize: Zero-Days > APTs > Breaches > Vulnerabilities.\n\nCRITICAL REQUIREMENTS:\n1. ENGLISH-ONLY stories - reject any non-English headlines or content\n2. NO DUPLICATES - check URLs carefully, each story must appear ONLY ONCE\n3. Verify each URL is unique before including\n4. If same story from multiple sources, include only once\n\nOUTPUT ONLY VALID JSON (no markdown, no code fences, no explanations). START WITH { and END WITH }:\n\n{\n  \"title\": \"Daily Cybersecurity Brief\",\n  \"total_stories\": 50,\n  \"categories\": [\"Zero-Day Exploits\", \"Threat Intelligence & APTs\", \"Breaches/Ransomware\", \"Vulnerabilities\", \"Incident Response & Forensics\", \"Identity & Access Management\", \"Supply Chain Security\", \"Cloud/SaaS\", \"Critical Infrastructure & OT/ICS\", \"Mobile & IoT Security\", \"Policy/Regulation\", \"Data Privacy & Protection\", \"Compliance & Audit\", \"Security Operations & Tools\", \"Startups/Funding\", \"Research\", \"AI/ML\"],\n  \"stories\": [\n    {\n      \"category\": \"Zero-Day Exploits\",\n      \"headline\": \"headline\",\n      \"summary\": \"summary\",\n      \"why_matters\": \"impact\",\n      \"severity\": 5,\n      \"companies\": [\"vendor\"],\n      \"url\": \"url\",\n      \"published_date\": \"2026-02-18T12:00:00Z\"\n    }\n  ],\n  \"metadata\": {\n    \"source\": \"26 Security Sources\",\n    \"ai_model\": \"GPT-4.1-MINI\",\n    \"last_update\": \"2026-02-18T12:00:00Z\",\n    \"workflow_version\": \"8.0\"\n  }\n}\n\nCRITICAL: Output ONLY the JSON object. No text before or after. Use exact category names. GMT timestamps. ENGLISH ONLY. NO DUPLICATE URLs.", "role": "system"}, {"content": "=Today's items (JSON array):\n{{ JSON.stringify($json.stories) }}\n"}]}, "options": {"maxTokens": 28000, "temperature": 0.2}}, "id": "bfb041ff-d924-42eb-b2a2-bac998ef5014", "name": "Message a model", "type": "@n8n/n8n-nodes-langchain.openAi", "position": [2112, -2016], "typeVersion": 1.8, "credentials": {"openAiApi": {"id": "p2tr3sQY50nuePzd", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "// code by ca7ai\nif (items.length === 0) {\n  return [{\n    json: {\n      empty: true,\n      subject: `Daily Cyber & Tech Brief \u2014 No major updates`,\n      html: `<p>No notable headlines in the last 24h from your sources.</p>`,\n      text: `No notable headlines in the last 24h.`\n    }\n  }];\n}\nreturn items;\n"}, "id": "6c9be38f-4c38-409f-ac9e-137b2a49f15b", "name": "No New Items", "type": "n8n-nodes-base.code", "position": [1664, -1824], "typeVersion": 2}, {"parameters": {"url": "https://www.bleepingcomputer.com/feed/", "options": {"ignoreSSL": false}}, "id": "b232d6d4-7d01-4cef-93db-69b052755be8", "name": "Bleeping Computer1", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2400], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"rule": {"interval": [{"triggerAtHour": 10}]}}, "id": "1fe150b8-1899-4b56-8daa-84ca178513c4", "name": "Schedule Trigger1", "type": "n8n-nodes-base.scheduleTrigger", "position": [544, -1920], "typeVersion": 1.2}, {"parameters": {"url": "https://krebsonsecurity.com/feed/", "options": {"ignoreSSL": false}}, "id": "00251a97-0c75-4f04-a426-5ba2424f89a9", "name": "Krebs on Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2592], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.darkreading.com/rss.xml", "options": {"ignoreSSL": false}}, "id": "7997c202-1565-41f8-bee1-70028e994d8d", "name": "Dark Reading", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2496], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.securityweek.com/feed/", "options": {"ignoreSSL": false}}, "id": "4d4b8bbd-be4e-4ae0-ae7e-68e419d1c3c0", "name": "Security Week", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2304], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://feeds.feedburner.com/eset/blog", "options": {"ignoreSSL": false}}, "id": "d870a751-78df-4080-9fa0-61e1c6e74942", "name": "ESET Blog", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -2112], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://threatpost.com/feed/", "options": {"ignoreSSL": false}}, "id": "bb2fdc9b-d237-4ff1-9bd4-e83ff36e6971", "name": "Threat Post", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1920], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.csoonline.com/feed/", "options": {"ignoreSSL": false}}, "id": "367005ba-cd54-475b-8dce-e2e005fabc51", "name": "CSO Online", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1728], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.wired.com/feed/category/security/latest/rss", "options": {"ignoreSSL": false}}, "id": "bb586209-b3d3-45b5-9ca5-ae2ce4917b35", "name": "Wired Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1536], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://feeds.feedburner.com/TheHackersNews", "options": {"ignoreSSL": false}}, "id": "d77c7db5-4ddb-45de-a8f3-aaf8fb47f1ba", "name": "The Hacker News", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1344], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.schneier.com/feed/atom/", "options": {"ignoreSSL": false}}, "id": "916e7e95-79da-4268-b45d-66fedc1a0618", "name": "Schneier on Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1152], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.theregister.com/security/headlines.atom", "options": {"ignoreSSL": false}}, "id": "d5c6c1e1-aad0-4e4a-b695-20a149cb7f0c", "name": "The Register1", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1632], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.microsoft.com/en-us/security/blog/feed/", "options": {}}, "id": "07ab3acf-db60-45cf-b23d-e413ec3fe40e", "name": "Microsoft Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -1056], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://security.googleblog.com/feeds/posts/default", "options": {}}, "id": "a465d4e1-cc7e-4b4c-a88d-e151c47d18d7", "name": "Google Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -960], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://aws.amazon.com/blogs/security/feed/", "options": {}}, "id": "896eec81-35a7-47ee-9016-772e3a16af2b", "name": "AWS Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -864], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://blog.talosintelligence.com/rss/", "options": {}}, "id": "5db6e9f5-0cea-4988-946c-fd551caf990b", "name": "Cisco Talos", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -768], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://unit42.paloaltonetworks.com/feed/", "options": {}}, "id": "1a04966c-d0dd-42dc-a789-08225a486492", "name": "Unit 42", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -672], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.cisa.gov/cybersecurity-advisories/all.xml", "options": {}}, "id": "68268f3b-dd86-4eb0-bb30-c5a663f9fa87", "name": "CISA Alerts", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -576], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.mandiant.com/resources/blog/rss.xml", "options": {}}, "id": "86fae3d5-b709-417e-a31a-7918aee0a6dc", "name": "Mandiant", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -480], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.crowdstrike.com/blog/feed/", "options": {}}, "id": "0ac8a7a6-6e32-4d33-8fef-262650760e0c", "name": "CrowdStrike", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -384], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.tenable.com/blog/feed", "options": {}}, "id": "13cc088d-d65f-488e-8d01-6bdc8ad1d49c", "name": "Tenable", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -192], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://isc.sans.edu/rssfeed.xml", "options": {}}, "id": "95871e1c-6042-4071-b3be-03af4a85355f", "name": "SANS ISC", "type": "n8n-nodes-base.rssFeedRead", "position": [768, -96], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://blog.malwarebytes.com/feed/", "options": {}}, "id": "5ecb835b-2e26-4a78-871a-bcf71668a235", "name": "Malwarebytes", "type": "n8n-nodes-base.rssFeedRead", "position": [768, 112], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://news.sophos.com/en-us/feed/", "options": {}}, "id": "a2438072-86ac-4360-9195-7f5178e1be95", "name": "Sophos News", "type": "n8n-nodes-base.rssFeedRead", "position": [768, 208], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://www.zdnet.com/blog/security/rss.xml", "options": {}}, "id": "b1f113d0-28c9-463c-93bf-12c22f4369d1", "name": "ZDNet Security", "type": "n8n-nodes-base.rssFeedRead", "position": [768, 304], "typeVersion": 1.2, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "// Log completion and file save success\nconst completionData = {\n  timestamp: new Date().toISOString(),\n  status: 'workflow_completed',\n  stories_saved: $json.stories || 0,\n  title: $json.title || 'Unknown',\n  file_updated: true\n};\n\nconsole.log('\ud83c\udf89 Workflow completed successfully!');\nconsole.log('\ud83d\udcca Final Summary:');\nconsole.log('  Stories saved:', completionData.stories_saved);\nconsole.log('  File updated:', completionData.file_updated);\nconsole.log('  Timestamp:', completionData.timestamp);\nconsole.log('\ud83d\udd04 Streamlit will auto-refresh within 30 seconds');\nconsole.log('\ud83d\udcf1 Check: http://localhost:8501');\n\nreturn [{ json: completionData }];"}, "id": "2c8a2e67-941a-4bff-9ea0-64cb2ce4a6d5", "name": "Workflow Complete", "type": "n8n-nodes-base.code", "position": [2912, -2016], "typeVersion": 2}, {"parameters": {"jsCode": "const items = $input.all();\nconst feedStats = {};\nlet noDate = 0;\nconst now = new Date();\n\nfor (const item of items) {\n  const j = item.json;\n  const link = j.link || j.url || '';\n  let host = 'unknown';\n  try { host = link ? new URL(link).hostname.replace('www.','') : 'unknown'; } catch(e) {}\n  \n  if (!feedStats[host]) feedStats[host] = { count: 0, recent: 0, oldest: null, newest: null };\n  feedStats[host].count++;\n  \n  const pubDate = j.isoDate || j.pubDate || j.date;\n  if (pubDate) {\n    try {\n      const d = new Date(pubDate);\n      const ageH = (now - d) / 3600000;\n      if (ageH <= 48) feedStats[host].recent++;\n      if (!feedStats[host].oldest || d < new Date(feedStats[host].oldest)) feedStats[host].oldest = pubDate;\n      if (!feedStats[host].newest || d > new Date(feedStats[host].newest)) feedStats[host].newest = pubDate;\n    } catch(e) {}\n  } else { noDate++; }\n}\n\nconsole.log('\\n\ud83d\udcca RSS FEED HEALTH REPORT');\nconsole.log('\u2501'.repeat(60));\nconst sorted = Object.entries(feedStats).sort((a,b) => b[1].count - a[1].count);\nlet totalItems = 0, totalRecent = 0, deadFeeds = [];\nfor (const [host, s] of sorted) {\n  totalItems += s.count;\n  totalRecent += s.recent;\n  const status = s.count === 0 ? '\u274c DEAD' : s.recent === 0 ? '\u26a0\ufe0f STALE' : '\u2705 OK';\n  if (s.count === 0 || s.recent === 0) deadFeeds.push(host);\n  console.log(`  ${status} ${host}: ${s.count} items (${s.recent} recent)`);\n}\nconsole.log('\u2501'.repeat(60));\nconsole.log(`\ud83d\udcc8 Total: ${totalItems} items from ${sorted.length} feeds (${totalRecent} recent, ${noDate} missing dates)`);\nif (deadFeeds.length > 0) console.log(`\u26a0\ufe0f Stale/dead feeds: ${deadFeeds.join(', ')}`);\n\nreturn items;"}, "id": "feed-health-check-001", "name": "Feed Health Check", "type": "n8n-nodes-base.code", "position": [1200, -1984], "typeVersion": 2}, {"parameters": {"rule": {"interval": [{"triggerAtHour": 18}]}}, "id": "evening-trigger-001", "name": "Schedule Trigger - Evening", "type": "n8n-nodes-base.scheduleTrigger", "position": [544, -1720], "typeVersion": 1.2}], "connections": {"Prepare Stories": {"main": [[{"node": "Message a model", "type": "main", "index": 0}]]}, "Process and Save": {"main": [[{"node": "Save to File Server", "type": "main", "index": 0}]]}, "Limit": {"main": [[{"node": "Prepare Stories", "type": "main", "index": 0}]]}, "Merge": {"main": [[{"node": "Feed Health Check", "type": "main", "index": 0}]]}, "hnrss": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]}, "Techcrunch": {"main": [[{"node": "Merge", "type": "main", "index": 3}]]}, "Message a model": {"main": [[{"node": "Process and Save", "type": "main", "index": 0}]]}, "Bleeping Computer1": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]}, "Schedule Trigger1": {"main": [[{"node": "Bleeping Computer1", "type": "main", "index": 0}, {"node": "hnrss", "type": "main", "index": 0}, {"node": "The Register1", "type": "main", "index": 0}, {"node": "Techcrunch", "type": "main", "index": 0}, {"node": "Krebs on Security", "type": "main", "index": 0}, {"node": "Dark Reading", "type": "main", "index": 0}, {"node": "Security Week", "type": "main", "index": 0}, {"node": "ESET Blog", "type": "main", "index": 0}, {"node": "Threat Post", "type": "main", "index": 0}, {"node": "CSO Online", "type": "main", "index": 0}, {"node": "Wired Security", "type": "main", "index": 0}, {"node": "The Hacker News", "type": "main", "index": 0}, {"node": "Schneier on Security", "type": "main", "index": 0}, {"node": "Microsoft Security", "type": "main", "index": 0}, {"node": "Google Security", "type": "main", "index": 0}, {"node": "AWS Security", "type": "main", "index": 0}, {"node": "Cisco Talos", "type": "main", "index": 0}, {"node": "Unit 42", "type": "main", "index": 0}, {"node": "CISA Alerts", "type": "main", "index": 0}, {"node": "Mandiant", "type": "main", "index": 0}, {"node": "CrowdStrike", "type": "main", "index": 0}, {"node": "Tenable", "type": "main", "index": 0}, {"node": "SANS ISC", "type": "main", "index": 0}, {"node": "Malwarebytes", "type": "main", "index": 0}, {"node": "Sophos News", "type": "main", "index": 0}, {"node": "ZDNet Security", "type": "main", "index": 0}]]}, "Threat Post": {"main": [[{"node": "Merge", "type": "main", "index": 8}]]}, "CSO Online": {"main": [[{"node": "Merge", "type": "main", "index": 9}]]}, "Wired Security": {"main": [[{"node": "Merge", "type": "main", "index": 10}]]}, "The Hacker News": {"main": [[{"node": "Merge", "type": "main", "index": 11}]]}, "Schneier on Security": {"main": [[{"node": "Merge", "type": "main", "index": 12}]]}, "Microsoft Security": {"main": [[{"node": "Merge", "type": "main", "index": 13}]]}, "Google Security": {"main": [[{"node": "Merge", "type": "main", "index": 14}]]}, "AWS Security": {"main": [[{"node": "Merge", "type": "main", "index": 15}]]}, "Cisco Talos": {"main": [[{"node": "Merge", "type": "main", "index": 16}]]}, "Unit 42": {"main": [[{"node": "Merge", "type": "main", "index": 17}]]}, "CISA Alerts": {"main": [[{"node": "Merge", "type": "main", "index": 18}]]}, "Mandiant": {"main": [[{"node": "Merge", "type": "main", "index": 19}]]}, "CrowdStrike": {"main": [[{"node": "Merge", "type": "main", "index": 20}]]}, "Tenable": {"main": [[{"node": "Merge", "type": "main", "index": 22}]]}, "SANS ISC": {"main": [[{"node": "Merge", "type": "main", "index": 23}]]}, "Malwarebytes": {"main": [[{"node": "Merge", "type": "main", "index": 25}]]}, "Sophos News": {"main": [[{"node": "Merge", "type": "main", "index": 26}]]}, "ZDNet Security": {"main": [[{"node": "Merge", "type": "main", "index": 27}]]}, "Krebs on Security": {"main": [[{"node": "Merge", "type": "main", "index": 4}]]}, "Dark Reading": {"main": [[{"node": "Merge", "type": "main", "index": 5}]]}, "Security Week": {"main": [[{"node": "Merge", "type": "main", "index": 6}]]}, "ESET Blog": {"main": [[{"node": "Merge", "type": "main", "index": 7}]]}, "The Register1": {"main": [[{"node": "Merge", "type": "main", "index": 2}]]}, "Save to File Server": {"main": [[{"node": "Workflow Complete", "type": "main", "index": 0}]]}, "Feed Health Check": {"main": [[{"node": "Limit", "type": "main", "index": 0}]]}, "Schedule Trigger - Evening": {"main": [[{"node": "Techcrunch", "type": "main", "index": 0}, {"node": "hnrss", "type": "main", "index": 0}, {"node": "Bleeping Computer1", "type": "main", "index": 0}, {"node": "Krebs on Security", "type": "main", "index": 0}, {"node": "Dark Reading", "type": "main", "index": 0}, {"node": "Security Week", "type": "main", "index": 0}, {"node": "ESET Blog", "type": "main", "index": 0}, {"node": "Threat Post", "type": "main", "index": 0}, {"node": "CSO Online", "type": "main", "index": 0}, {"node": "Wired Security", "type": "main", "index": 0}, {"node": "The Hacker News", "type": "main", "index": 0}, {"node": "Schneier on Security", "type": "main", "index": 0}, {"node": "The Register1", "type": "main", "index": 0}, {"node": "Microsoft Security", "type": "main", "index": 0}, {"node": "Google Security", "type": "main", "index": 0}, {"node": "AWS Security", "type": "main", "index": 0}, {"node": "Cisco Talos", "type": "main", "index": 0}, {"node": "Unit 42", "type": "main", "index": 0}, {"node": "CISA Alerts", "type": "main", "index": 0}, {"node": "Mandiant", "type": "main", "index": 0}, {"node": "CrowdStrike", "type": "main", "index": 0}, {"node": "Tenable", "type": "main", "index": 0}, {"node": "SANS ISC", "type": "main", "index": 0}, {"node": "Malwarebytes", "type": "main", "index": 0}, {"node": "Sophos News", "type": "main", "index": 0}, {"node": "ZDNet Security", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "pinData": {}}